[Unit]
Description=Docquer - Homogeneous Torque

[Service]
ExecStart=/home/vagrant/sync/docquer
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
